<h1>Lista de Ceps</h1>

<table>
  <tr>
   <th>Id:</th>
   <th>Cep:</th>
   <th>Logradouro:</th>
   <th>Bairro:</th>
   <th>Cidade:</th>
   <th>Estado:</th>
   <th>Pais:</th>
  </tr>

<% @ceps.each do |cep| %>
  <tr>
    <td style="text-align: center;border-style: solid; border: 1px solid black; border-radius: 2px;"><%= cep.id %></td>
    <td style="text-align: center;border-style: solid; border: 1px solid black; border-radius: 2px;"><%= cep.cep %></td>
    <td style="text-align: center;border-style: solid; border: 1px solid black; border-radius: 2px;"><%= cep.logradouro %></td>
    <td style="text-align: center;border-style: solid; border: 1px solid black; border-radius: 2px;"><%= cep.bairro.try(:nome)%></td>
    <td style="text-align: center;border-style: solid; border: 1px solid black; border-radius: 2px;"><%= cep.bairro.cidade.nome %></td>
    <td style="text-align: center;border-style: solid; border: 1px solid black; border-radius: 2px;"><%= cep.bairro.cidade.estado.nome %></td>
    <td style="text-align: center;border-style: solid; border: 1px solid black; border-radius: 2px;"><%= cep.bairro.cidade.estado.paise.nome %></td>
    <td style="border-style: groove; border-radius: 4px"><%= link_to 'Visualizar', cep %></td>
    <td style="border-style: groove; border-radius: 4px"><%= link_to 'Editar', edit_cep_path(cep) %></td>
    <td style="border-style: groove; border-radius: 4px"><%= link_to 'Deletar', cep, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br>

<b style="border-style: groove; border-radius: 4px"><%= link_to 'Novo Cep', new_cep_path %></b>

<style>
table {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
th {
  border-radius: 2px;
  border-style: inset;
  border: 1px solid black;
  border-collapse: collapse;
}
h1 {
  border-bottom: 2px solid black;;
  table-layout: fixed;
  width: 185px;
}
</style>