
<div style='background-color: white; margin: 0px 20px 0px 20px; 
padding: 10px; border-radius: 10px;-moz-border-radius; 5px; button= border-radius: 100px;'>
<b style="border-style: groove; border-radius: 4px"><%= link_to 'HelloWorld!', '/hello/world' %></b> |
<b style="border-style: groove; border-radius: 4px"><%= link_to 'Criancas', '/pessoas/criancas' %></b> |
<b style="border-style: groove; border-radius: 4px"><%= link_to 'Adultos', '/pessoas/adultos' %></b> |
<b style="border-style: groove; border-radius: 4px"><%= link_to 'Cidade SC', city_santa_catarina_path %></b> |
<b style="border-style: groove; border-radius: 4px"><%= link_to 'Cidade PR', city_parana_path %></b> |
<b style="border-style: groove; border-radius: 4px"><%= link_to 'CEP', ceps_path %></b> |
<b style="border-style: groove; border-radius: 4px"><%= link_to 'Bairros', bairros_path %></b> |
<b style="border-style: groove; border-radius: 4px"><%= link_to 'Cidades', cidades_path %></b> |
<b style="border-style: groove; border-radius: 4px"><%= link_to 'Estados', estados_path %></b> |
<b style="border-style: groove; border-radius: 4px"><%= link_to 'Países', paises_path %></b> 
</div>